# Ignore node_modules directory
node_modules/

# Ignore .env file (contains sensitive information)
.env

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore npm-debug.log* files
npm-debug.log*
